<% title "All person_infos" %>

<% @person_infos.each do |person_info| %>
<article class="index">
  <div class="attribute">
    <span class="name">Name</span>
    <span class="value"><%= person_info.name %></span>
  </div>
    <div class="attribute">
    <span class="name">Surname</span>
    <span class="value"><%= person_info.surname %></span>
  </div>
    <div class="attribute">
    <span class="name">Nick</span>
    <span class="value"><%= person_info.nick %></span>
  </div>
    <div class="attribute">
    <span class="name">Sex</span>
    <span class="value"><%= person_info.sex %></span>
  </div>
    <div class="attribute">
    <span class="name">Isuser</span>
    <span class="value"><%= person_info.isUser %></span>
  </div>
    <div class="links">
    <%= link_to 'Show', person_info, class: "btn" %>
    <%= link_to 'Edit', edit_person_info_path(person_info), class: "btn" %>
    <%= link_to 'Destroy', person_info, confirm: 'Are you sure?',
          method: :delete, class: "btn danger" %>
  </div>
</article>
<% end %>

<div class="link">
  <%= link_to 'New Person info', new_person_info_path, class: "btn primary" %>
</div>
