<% title "Login" %>
<div id="register">
<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<%= f.inputs do %>

    <%= f.input :login, :label => t("devise.user.login"), :input_html => { :size => 30 } %>

	<%= f.input :password, :as => :password, :label => t("user.password"), :input_html => { :size => 30 } %>

	<% if devise_mapping.rememberable? -%>
		<%= f.input :remember_me , :as => :boolean %> 
	<% end -%>

	<% end %>
  
	<span class="rr">
	<fieldset class="knob">
	<%= f.buttons do %>
		<%= f.commit_button :label => "Zaloguj się!" %>
	<% end %>
	</fieldset>
	</span>

<% end %>
<div class="shared_links">
	<%= render :partial => "devise/shared/links" %>
</div>
</div>

<aside class="social_logins">
	<p> Zaloguj się przy pomocy jednego z popularnych portali społecznościowych! <br> ( <b> Nie dotyczy osób chcących wystawić oferte mieszkania </b> ) </p>
	<a href="/auth/facebook"><%=image_tag("facebook_48.png", :alt=>"Login with Facebook", :class=>"imagedropshadow")%></a>
	<a href="/auth/twitter"><%=image_tag("twitter_48.png", :alt=>"Login with Twitter", :class=>"imagedropshadow")%></a>
</aside>
