<% title "Login" %>
<div id="register">
<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

	<%= f.inputs do %>
	
	<%= f.input :email, :as => :email, :input_html => { :size => 30 } %>

	<%= f.input :password, :as => :password, :input_html => { :size => 30 } %>

	<% if devise_mapping.rememberable? -%>
		<%= f.input :remember_me , :as => :boolean %> 
	<% end -%>

	<% end %>
  
	<span class="rr">
	<fieldset class="knob">
	<%= f.buttons do %>
		<%= f.commit_button :label => "Zaloguj się!" %>
	<% end %>
	</fieldset>
	</span>

<% end %>
<div class="shared_links">
	<%= render :partial => "devise/shared/links" %>
</div>
</div>
