<% title t('user_panel.label')  %>

<article class="single">

 <div class="link">
	<% if can? :read , Place %>
		<%= link_to t('user_panel.index.all_places'), places_path, class: "btn primary" %>
	<% end %>
	<% if can? :myPlaces, Place %>
		<%= link_to t('user_panel.index.my_places'), myplaces_path , class: "btn primary" %>
	<% end %>
    <% if can? :myTenantRequests, Request %>
        <%= link_to t('user_panel.index.request'), all_tenant_requests_path , class: "btn primary" %>
    <% end %>
   <% if can? :myOwnerRequests, Request %>
        <%= link_to t('user_panel.index.request'), all_owner_requests_path , class: "btn primary" %>
    <% end %>
    <%= link_to t('user.my.info'), my_account_path , class: "btn primary" %>
 </div>

</article>
