	<div class="placee">
		
		<div class="where">
			<b><%= place.city %></b>, <%= place.district %><br/>
		</div>
		
		<% if place.is_active %>
			<div class="activity">
			<%=image_tag("active.png", :alt=>"Place Offer is active!", :width=>"25", :height=>"25")%>
			<span class="aaa"><%= t('place.placee.active') %></span>
			</div>
		<% end %>
		<div class="grade"><%= t('place.placee.average') %><%= place.grade %></div>
		<div class="prizes"><%= t('place.placee.prize_min') %><%= place.price_min %></div>
		<div class="placeInfo">	
			<b><%= t('place.placee.type') %></b> <%= place.place_type %>
			<b><%= t('place.placee.surface') %></b> <%= place.surface %>
			<b><%= t('place.placee.rooms') %></b><%= place.nr_of_rooms %>
			<b><%= t('place.placee.heating') %></b><%= place.heating_type %>
		</div>
		<div class="people">
			<b><%= t('place.placee.for') %></b><%= place.for_who %>
			<b><%= t('place.placee.people_max') %></b><%= place.people_max %>
		</div>
		<div class="dates">	
			<b><%= t('place.placee.avaible_from') %></b> <%= place.availability_from %>
			<b><%= t('place.placee.to') %></b><%= place.availability_to %>
		</div>
		<div class="options">
		<% if can? :read, place %>
			<%= link_to t('place.placee.show'), place%>
		<% end %>
		<% if can? :update, place %>		
				<%= link_to t('place.placee.edit'), edit_place_path(place) %>
		<% end %>
		<% if can? :destroy, place %>
			<%= link_to t('place.placee.delete'), place, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
		</div>
	
	</div>
