<%= semantic_form_for @search , :remote => true do |f| %>
	<%= f.inputs do %>

    <%= f.input :city_contains, :label => "Miasto" , :input_html => { :size => 20 } %>

	<%= f.input :price_min_gte, :label => "Cena od", :input_html => { :size => 5 } %>
	<%= f.input :price_min_lte, :label => "Cena do", :input_html => { :size => 5 } %>
	
	<%= f.input :grade_gte, :label => "Ocena od", :input_html => { :size => 5 } %>
	<%= f.input :grade_lte, :label => "Ocena do", :input_html => { :size => 5 } %>
	
	<%= f.input :place_type_equals,:label => "Rodzaj", :as => :select, :collection => PLACE_TYPE.sort %>
	
	<!--	Nie działa ? --> <!--
	<%= f.input :country_equals, :priority_countries => [:pl, :gb, :de]%>
	<%= f.input :region_equals,:as => :select, :collection => REGIONS_PL.sort %>
	-->
	<% end %>
	
	<div class="knob">
	<%= f.buttons do %>
		<%= f.commit_button :label => "Szukaj" %>
	<% end %>
	</div>
	
<% end %>
