<% title t('place.index.title') %>

	<div class="link">
	<% if can? :create, Place %>
		<%= link_to t('place.index.new_place'), new_place_path, class: "btn primary" %>
	<% end %>
		 <%= link_to t('place.index.show_all'), places_path, :remote => true, class: "btn primary" %>
	</div>
<article class="index">

<div class="seearch">
	<%= render :partial => 'search' %>
</div>

<div id="places">
	<%= render :partial => 'place', :collection => @places %>
	<%= params[:search] %>
</div><br />
</article>




