<% title "All places" %>
<% if can? :create, Place %>
	<div class="link">
		<%= link_to 'New Place', new_place_path, class: "btn primary" %>
		 <%= link_to 'Pokaż wszystko', places_path, :remote => true, class: "btn primary" %>
	</div>
	<% end %>
<article class="index">

<div class="seearch">
	<%= render :partial => 'search' %>
</div>

<div id="places">
	<%= render :partial => 'place', :collection => @places %>
	
	
	<%= params[:search] %>
</div>

</article>




