<% title t('place.show.title') %>

<% if notice -%>
<div id="notice"><%= notice %></div>
<% end -%>


  <% unless @place.images.empty?  %>
  
  <div id="gal" class="imageflow">
  
        <% for image in @place.images %>
            
            <%= image_tag image.image_url.to_s, :longdesc => image.image_url.to_s %>
            
       <% end %>

      </div>
  <% end %>
  <div class="show">
  
  <div class="show_header">
	<div class="availability">
		<span class="value"><%= t('place.show.active') %><%= @place.availability_from %><%= t('place.show.to') %><%= @place.availability_to %></span>
	</div>
	<div class="grade_stars"><%= @place.grade %></div>
	<input type="hidden" value="<%= @place.is_active %>" />
  </div>
  
   <div class="show_content">
  
  <div class="place_adress">
  Dane: <br />
    <%= t('place.show.owner')%> <%= @place.owner %> <br />
   <%= t('place.show.street')%> <%= @place.street %> <%= @place.place_nr %> / <%= @place.flat_nr %><br />
	<%= t('place.show.district')%> <%= @place.district %> <br />
   <%= t('place.show.city')%> <%= @place.city %> <br />
   <%= t('place.show.region')%> <%= @place.region %> <br />
   <%= t('place.show.country')%> <%= @place.country %> <br />
   <%= t('place.show.telephone')%> <%= @place.telephone %> <br />
  </div>
  
  <div class="place_price">
  <% t('place.show.price_min')%> <% @place.price_min %>
 <% t('place.show.price_max')%>  <% @place.price_max %>
   <h1 class="price_for_you"><%= t('place.show.price_for_you')%> <%= (@place.price_max + @place.price_min)/2 %> </h1>
    <span class="deposit"><%= t('place.show.deposit')%><%= @place.deposit %></span>
  </div>  
  
  
  <div class="attribute">
    <span class="name"><%= t('place.show.coordinates')%></span>
    <span class="value"><%= @place.coordinates %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.place_type')%></span>
    <span class="value"><%= @place.place_type %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.floor_nr')%></span>
    <span class="value"><%= @place.floor_nr %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.nr_of_floor')%></span>
    <span class="value"><%= @place.nr_of_floors %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.rooms')%></span>
    <span class="value"><%= @place.nr_of_rooms %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.surface')%></span>
    <span class="value"><%= @place.surface %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.build')%></span>
    <span class="value"><%= @place.build_year %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.heating')%></span>
    <span class="value"><%= @place.heating_type %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.people')%></span>
    <span class="value"><%= @place.people_max %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.who')%></span>
    <span class="value"><%= @place.for_who %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.length_min')%></span>
    <span class="value"><%= @place.min_length_lease %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.type_length')%></span>
    <span class="value"><%= @place.type_length_lease %></span>
  </div>
  
  <div class="descripton">
    <h3>+ Rozwin opis</h3>
    <span class="full_descripton"><%= @place.description %></span>
  </div>
  <div class="attribute">
    <span class="name"><%= t('place.show.balcony')%></span><% if(@place.has_balcony ) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
    <span class="name"><%= t('place.show.garage')%></span><% if(@place.has_garage) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
    <span class="name"><%= t('place.show.basement')%></span><% if(@place.has_basement) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
	<span class="name"><%= t('place.show.parking')%></span><% if(@place.has_parking) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
	<span class="name"><%= t('place.show.internet')%></span><% if(@place.has_internet) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
	<span class="name"><%= t('place.show.tarrace')%></span><% if(@place.has_terrace) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
	<span class="name"><%= t('place.show.lift')%></span> <% if(@place.has_lift) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
	<span class="name"><%= t('place.show.garden')%></span><% if(@place.has_garden) %> <%=image_tag("active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% else %> <%=image_tag("not_active.png", :alt=>"true", :width=>"15", :height=>"15") %> <% end %>
  </div>
  </div>
  <div class="link">
    <% if current_user.has_role? :owner %>
        <%= link_to t('place.show.edit'), edit_place_path(@place), class: "btn primary" %>
    <% end %>
    <% if current_user.has_role? :tenant %>
        <%= link_to 'New Request', new_request_path(:place_id => @place.id), class: "btn primary" %>
    <% end %>
    <%= link_to t('place.show.back'), places_path, class: "btn primary" %>
  </div>
  </div>
</div>
