<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset=utf-8>
    <title><%= content_for?(:title) ? yield(:title) : "Rentluk" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/logo1.png">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <!--
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
    <%= csrf_meta_tags %>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28117571-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/"><%=image_tag("logo3.png", :alt=>"Logo", :width=>"180")%></a>
          <ul class="nav">
            <li class="active"><a href="#">Strona domowa</a></li>
            <li><a href="#about">O Nas</a></li>
            <li><a href="#contact">Kontakt</a></li>
          </ul>
          
		<div class="pull-right">
			 <% if user_signed_in? %>
				Logged as <%= current_user.email %>. 
				<%= link_to "Twój panel", panel_path %>
				<%= link_to "Wyloguj", logout_path %>
			<% else %>
				<%= link_to "Login", login_path %>
				<%= link_to "Rejestracja", register_path %> 
			<% end %>
		</div>
			  <!--<form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Zaloguj poprzez konto GitHub</button>
            </form>
             -->   
        </div>
      </div>
    </div>

    <div class="container">
		
      <div class="content">
        <div class="page-header">
          <%= content_tag :h1, yield(:title) if show_title? %>
        </div>
        <div class="row">
			
				<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "#{name}" %>
				<% end %>
					
            <%= yield %>
        
        </div>
      </div>

      <footer>
        <p>&copy; RentLuk - projekt grupy zadziory</p>
      </footer>

    </div><!-- /container -->

  </body>
</html>
